---
layout: archive
title: "Conferences & Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% comment %}
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endcomment %}

* INFORMS 2023 Annual Meeting. (Coming)\
* SIAM Conference on Optimization 2023 (OP23). Title: “Adaptive Algorithms for Nonconvex Minimax Optimization”.\
* NeurIPS 2022. 
* INFORMS 2022 Annual Meeting.\
* INFORMS 2021 Annual Meeting.\
